# SPDX-License-Identifier: GPL-2.0-only

config BOARD_FRAMEWORK_AZALEA
	select AMD_SOC_CONSOLE_UART
	select AZALIA_HDA_CODEC_SUPPORT
	select BOARD_ROMSIZE_KB_32768
	select EC_GOOGLE_CHROMEEC
	select EC_GOOGLE_CHROMEEC_ESPI
	select PCIEXP_ASPM
	select PCIEXP_CLK_PM
	select PCIEXP_COMMON_CLOCK
	select PCIEXP_L1_SUB_STATE
	select SOC_AMD_COMMON_BLOCK_USE_ESPI
	select SPI_FLASH_EXIT_4_BYTE_ADDR_MODE
	select SYSTEM_TYPE_LAPTOP
	select SOC_AMD_PHOENIX_FSP
if BOARD_FRAMEWORK_AZALEA

config MAINBOARD_DIR
	default "framework/azalea"

config MAINBOARD_PART_NUMBER
	default "Azalea"

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/coreboot.fmd"

if !EM100	# EM100 defaults in soc/amd/common/blocks/spi/Kconfig
config EFS_SPI_READ_MODE
	default 3	# Quad IO (1-1-4)

config EFS_SPI_SPEED
	default 0	# 66MHz

config EFS_SPI_MICRON_FLAG
	default 0

config NORMAL_READ_SPI_SPEED
	default 1	# 33MHz

config ALT_SPI_SPEED
	default 1	# 33MHz

config TPM_SPI_SPEED
	default 1	# 33MHz

endif # !EM100

endif
